.SelectOption {
  background-color: red;
  /* height: 44px !important; */
  max-height: 44px !important;
  padding: 12px !important;
  background: rgba(0, 59, 77, 0.05) !important;
  /* Expent Design System/Dark/Dark 4 */

  border: 1px solid rgba(0, 59, 77, 0.15) !important;
  border-radius: 10px !important;
  margin-top: 5px;
}