.WorkflowRightPanel__container {
  align-self: center;
  /* border: 1px solid red; */
  flex-direction: column;
  right: 20px;
  position: relative;
  display: flex;
}

.WorkflowRightPanel__button {
  color: #FFFFFF !important;
  height: 36px !important;
  min-width: 36px !important;
  background: rgba(255, 255, 255, 0.15) !important;
  border-radius: 8px !important;
  padding: 0 !important;
}

.WorkflowRightPanel__button>span {
  width: 36px !important;
}

.btn-add {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.btn-subs {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}